<html>
<h1 style="text-align: center;">Popularity Index</h1>
<body align="middle">  
        <img src="http://statesnapshots.ahrq.gov/snaps08/images/speedometer/ME_0_N_Speedo_DB.gif" /> 
  </body>
</html>


<!--
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>

-->
